fu-main {
	display: block;
	padding: var(--size);
	font-size: var(--fu_fontsize);
	color: var(--zink_700);

	.fu_main_actions {
		display: none;
	}
}

.fu_container {
	container-name: fu_container;
	container-type: inline-size;
	background-color: var(--fu_body_bg);
}

.fu_grid {
	display: grid;
	gap: var(--fu_size);
	gap: var(--fu_size) calc( 1.5 * var(--fu_size) );
	align-content: start;
	padding: var(--fu_size);
	background-color: var(--fu_body_bg);

	&:empty{
		display: none;
	}

	@container fu_container (width < 640px) {
		grid-template-columns: 1fr;
	}

	@container fu_container (width >= 640px) and (width < 960px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@container fu_container (width >= 960px) and (width < 1280px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@container fu_container (width >= 1280px) and (width < 1600px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@container fu_container (width >= 1600px) and (width < 1920px) {
		grid-template-columns: repeat(5, 1fr);
	}

	@container fu_container (width >= 1920px) {
		grid-template-columns: repeat(6, 1fr);
	}
}

.fu_gw_default {
	grid-column: span 1;
}

.fu_gw_fullwidth{
	grid-column: 1 / -1;
}

.fu_gw_custom {

	grid-column: span 1;

	&.fu_gw_1_1{grid-column: span 1}
	&.fu_gw_1_2{grid-column: span 2}

	@container fu_container (width >= 640px) {
		&.fu_gw_2_1{grid-column: span 1}
		&.fu_gw_2_2{grid-column: span 2}
	}

	@container fu_container (width >= 960px) {
		&.fu_gw_3_1{grid-column: span 1}
		&.fu_gw_3_2{grid-column: span 2}
		&.fu_gw_3_3{grid-column: span 3}
	}

	@container fu_container (width >= 1280px) {
		&.fu_gw_4_1{grid-column: span 1}
		&.fu_gw_4_2{grid-column: span 2}
		&.fu_gw_4_3{grid-column: span 3}
		&.fu_gw_4_4{grid-column: span 4}
	}

	@container fu_container (width >= 1600px) {
		&.fu_gw_5_1{grid-column: span 1}
		&.fu_gw_5_2{grid-column: span 2}
		&.fu_gw_5_3{grid-column: span 3}
		&.fu_gw_5_4{grid-column: span 4}
		&.fu_gw_5_5{grid-column: span 5}
	}

	@container fu_container (width >= 1920px) {
		&.fu_gw_6_1{grid-column: span 1}
		&.fu_gw_6_2{grid-column: span 2}
		&.fu_gw_6_3{grid-column: span 3}
		&.fu_gw_6_4{grid-column: span 4}
		&.fu_gw_6_5{grid-column: span 5}
		&.fu_gw_6_6{grid-column: span 6}
	}

	@container fu_container (width >= 2240px) {
		/* Maybe in the future */
	}
}

fu-group,
.fu_repeater,
.fu_radiotabs,
.fu_tabs{
	&.fu_gw_default{
		grid-column: 1 / -1;
		min-width: max-content;
	}
}

.fu_repeater_wrapper{
	min-width: 320px;
}

.fu_radiotab_button,
.fu_tab_button {
	display: inline-block;
	font-size: var(--fu_fontsize);
	line-height: var(--fu_size);
	padding: 0 var(--fu_size_half);
	border: none;
	background: var(--fu_body_bg);
	cursor: pointer;

	/* &:focus, */
	&:hover {
		background-color: var(--fu_primary);
		color: var(--fu_bg);
	}

	input {
		margin-right: calc( .25 * var(--fu_size) );
		cursor: pointer;
	}
}

.fu_radiotabs_panels > fu-children:not(.fu_open_tab),
.fu_tabs_panels > fu-children:not(.fu_open_tab) {
	display: none;
}