fu-main {
	display: block;
	font-size: var(--fu_fontsize);
	padding: var(--fu_size_md, 2em);


	.fu_main_actions {
		display: none;
	}
}

fu-children {
	display: grid;
	gap: var(--fu_size_md, 2em);
	grid-template-columns: repeat(auto-fill, minmax(var( --fu_size_xl ), 1fr));
	align-content: start;
	background: var(--fu_bg);

	&:empty {
		display: none;
	}
}

fu-group,
.fu_repeater,
.fu_radiotabs,
.fu_tabs{
	&.fu_gw_default{
		grid-column: 1 / -1;
	}
}


.fu_radiotabs,
.fu_tabs{
	& > .fu_buttons {
		padding-bottom: var(--fu_size_md, 2em);

		.fu_button {
			display: inline-block;
			position: relative;
			font-size: var(--fu_fontsize);
			font-weight: 500;
			line-height: var(--fu_size_md, 2em);
			padding: 0 var(--fu_size_xs, 0.5em);
			margin-right: var(--fu_size_xxs, 0.25em);
			border: none;
			background: transparent;
			cursor: pointer;
			color: var(--fu_text_color_light);
			transition: all .3s;
			margin-right: var(--fu_size_sm, 1em);


			&:focus,
			&:focus-visible {
				outline: none;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 2px;
				transform: scaleX(0);
				transition: all .3s;
				background-color: transparent;
			}

			&:has(input[type="radio"]:checked),
			&[aria-selected="true"],
			&:focus {
				color: var(--fu_text_color);
				&::after {
					transform: scaleX(1);
					background-color: var(--fu_text_color);
				}
			}

			&:hover {
				color: var(--fu_text_color);
			}

			input[type="radio"] {
				margin-right: var(--fu_size_xs, 0.5em);
			}
		}
	}
}
