.fu_header{
	&:hover{
		background: var(--fu_row_hover_bg);
	}

	label.fu_r_checkbox{
		display: block;
		width: calc( var(--fu_size) );
		height: var(--fu_size);
		line-height: var(--fu_size);
		text-align: center;
		cursor: pointer;

		input {
			margin: 0;
			cursor: pointer;
		}
	}

	.fu_actions{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		height: var(--fu_size);
		background-color: var(--fu_row_hover_bg);
	}

	/* &:focus-within .fu_actions, */
	&:hover .fu_actions {
		display: block;
	}

	.fu_row__labels,
	.fu_row_fields,
	.fu_repeater__labels {
		display: flex;
		flex-grow: 1;

		.fu_label {
			display: flex;
			flex-grow: 1;
			position: relative;
			cursor: pointer;

			div {
				padding: 0 var(--fu_size_half);
				position: absolute;
				inset: 0;
				white-space: pre;
				line-height: var(--fu_size);
				text-overflow: ellipsis;
				overflow: hidden;
			}

			input{
				position: absolute;
				inset: 0;
				border: 0;
				border-radius: 0;
				display: block;
				box-shadow: inset -1px -1px 0 var(--fu_border_color);
				padding: 0 var(--fu_size_half);
				margin: 0;
				font-size: var(--fu_fontsize);
			}

			.fu_color_example{
				float: left;
				display: block;
				width: var(--fu_size_half);
				height: var(--fu_size_half);
				margin: calc( .25 * var(--fu_size) );
			}
		}
	}

	.fu_row__labels:hover + .fu_actions,
	.fu_repeater__labels:hover + .fu_actions{
		cursor: pointer;
		display: block;
		button.fu_toggle {
			background-color: var(--fu_primary);
			&::before{
				background-color: var(--fu_bg);
			}
			&::after{
				display: block;
			}
		}
	}

	.fu_row_fields{
		box-shadow: -1px -1px 0 var(--fu_border_color);
	}
}

.fu_repeater_header {
	position: relative;
	display: flex;
	height: var(--fu_size);

	color: var(--fu_text_color_light);
	font-size: var( --fu_fontsize_xs );

	label.fu_r_checkbox {
		padding: 0 var(--fu_size);
	}

	.fu_for_selected_menu {
		display: none;
		height: var(--fu_size);
	}

	label.fu_r_checkbox.checked + .fu_for_selected_menu {
		position: absolute;
		top: 0;
		left: calc( -1 * var(--fu_size) );
		z-index: 1;
		display: block;
		overflow: visible;
		white-space: pre;
		background-color: var(--fu_row_hover_bg);
		button {
			visibility: visible;
			&::after{
				right: auto;
				left: 0;
			}
		}
	}
}

.fu_repeater_wrapper{
	padding-bottom: var(--fu_size_half);
}

.add_button {
	display: block;
	width: var(--fu_size);
	height: var(--fu_size);
	overflow: visible;
	left: var(--fu_size);
	border: none;
	border-radius: 0;
	color: var(--fu_primary);

	&:hover {
		background-color: var(--fu_primary);
		&::before {
			background-color: var(--fu_bg);
		}
	}
}

fu-rows:not(:empty) + .add_button{
	display: none;
	&.active {
		display: block;
		position: absolute;
	}
}

fu-rows:empty + .add_button {
	position: relative;
}

.row_add_row{
	background: var(--fu_body_bg);
	position: relative;

	.fu_backdrop {
		position: fixed;
		inset: 0;
		background: #77777777;
		z-index: 98;
		cursor: pointer;
	}

	.fu_backdrop:hover + .fu_add_header .fu_icon.fu_delete {
		background-color: red;
		&:before{
			background-color: var(--fu_bg);
		}
		&:after {
			display: block;
		}
	}

	.fu_add_header {
		position: relative;
		z-index: 99;

		display: flex;
		height: var(--fu_size);
		padding: var(--fu_size) var(--fu_size) 0 calc( 4.5 * var(--fu_size) );
		padding-bottom: 0;
		background: var(--fu_body_bg);


		.fu_add_label{
			display: flex;
			flex-grow: 1;
			div {
				padding: 0 var(--fu_size) 0 0;
				white-space: pre;
				line-height: var(--fu_size);
				text-overflow: ellipsis;
				overflow: hidden;
				color: var(--fu_primary);
				font-weight: 700;
			}
		}
	}

	.fu_add_options{
		box-shadow: 0 -1px 0 0 var(--fu_border_color);
		position: relative;
		z-index: 98;
		background: var(--fu_body_bg);
		padding: var(--fu_size);
		display: grid;
		grid-template-columns: 80px 1fr;
		gap: calc( 2 * var(--fu_size) ) var(--fu_size);

		.fu_group {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			align-items: start;
			gap: var(--fu_size_half);
		}

		.fu_label{
			line-height: var(--fu_size);
			font-size: var(--fu_fontsize_xs);
			text-overflow: ellipsis;
			overflow: hidden;
			color: var(--fu_text_color_light);
			text-align: right;
		}

		button {
			border: none;
			text-align: left;
			background: var( --fu_bg );
			line-height: var(--fu_size_half);
			font-size: var(--fu_fontsize);
			padding: calc( .25 * var(--fu_size) ) var(--fu_size_half);
			cursor: pointer;
			box-shadow: 0 0 0 1px var(--fu_primary);

			/* &:focus, */
			&:hover{
				background-color: var(--fu_primary);
				color: var( --fu_bg );
			}

			&.template_not_defined{
				background-color: red;
				color: var( --fu_bg );
			}
		}

	}
}

fu-repeater_table .fu_icon.fu_toggle {
	display: none !important;
}

