fu-rows{
	counter-reset: line-number;
	display: block;
	position: relative;

	&:empty {
		height: 0;
		overflow: visible;
		&::before{
			content: '';
			box-shadow: 0 -1px 0 0 var(--fu_border_color);
			display: block;
			height: 1px;
		}
	}
}

.fu_row {
	display: block;
	position: relative;
	counter-increment: line-number;
	box-shadow: 0 -1px 0 0 var(--fu_border_color);

	&:first-child > .fu_row_header .fu_icon.fu_up,
	&:last-child > .fu_row_header .fu_icon.fu_down {
		visibility: hidden;
	}

	& > .fu_row_header .fu_index::after {
		content: counter(line-number);
	}

	&:nth-child(n + 10)   .fu_index::after { font-size: calc(0.9 * var(--fu_fontsize)); }
	&:nth-child(n + 100)  .fu_index::after { font-size: calc(0.8 * var(--fu_fontsize)); }
	&:nth-child(n + 1000) .fu_index::after { font-size: calc(0.7 * var(--fu_fontsize)); }

	&.fu_open > .fu_row_header {
		background-color: var(--fu_row_hover_bg);
	}

	& > .fu_container {
		padding-left: calc( 2.5 * var(--fu_size) );
	}

	&:not(.fu_open) > .fu_container {
		display: none;
	}

}

.fu_row_header {
	display: flex;
	height: var(--fu_size);

	.fu_index {
		display: block;
		width: var(--fu_size);
		height: var(--fu_size);
		line-height: var(--fu_size);
		text-align: center;
		font-weight: 700;
		font-family: 'Courier New', Courier, monospace;
	}

	.fu_icon.fu_add{
		display: none;
	}

	.fu_move {
		cursor: move;
	}
}

/* .fu_row_header:focus-within, */
.fu_row:hover > .fu_row_header {
	.fu_add.to_top,
	.fu_add.to_bottom {
		position: absolute;
		left: calc( 2 * var(--fu_size) );
		display: block;
		z-index: 3;
		background: var(--fu_row_hover_bg);

		&:after{
			top: 0;
			left: calc( 1.5 * var(--fu_size) );
			right: auto;
		}

		&:hover {
			background: var(--fu_primary);
		}
	}

	.fu_add.to_top{
		top: calc( -.5* var(--fu_size));
	}
	.fu_add.to_bottom{
		bottom: calc( -.5* var(--fu_size));
	}
}

.fu_row.sortable-chosen .fu_row_header .fu_icon.fu_add{
	display: none;
}

