body.fu_dialog_opened {
	overflow: hidden;
}

.fu_dialog{
	padding: 0;
	background-color: var(--fu_bg);
	z-index: 9999;
	overflow: hidden;
	position: fixed;
	display: none;

	@media screen and (max-width: 850px) {
		inset: 60px 5dvw 5dvh 5dvw;
		--dialog_height: calc( 95dvh - 60px );
	}
	@media screen and (min-width: 851px) {
		inset: 10dvh 10dvw;
		--dialog_height: 80dvh;
	}

	&.fu_open {
		display: block;
	}

	.fu_backdrop {
		position: fixed;
		z-index: -1;
		inset: 0;
		background-color: var(--fu_backdrop_bg);
		cursor: pointer;
	}

	.fu_header {
		position: relative;
		height: calc( 2 * var(--fu_size) );
		line-height: calc( 2 * var(--fu_size) );

		padding: 0 var(--fu_size);
		background: var(--fu_row_hover_bg);
		font-size: calc(1.4 * var(--fu_fontsize));
		font-weight: 500;

		&:after{
			font-weight: 600;
			font-size: calc(0.6* var(--fu_size));
		}

		i {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 1px;
			width: calc( 2 * var(--fu_size) );
			text-align: center;
			cursor: pointer;

			&:after {
				content: '\00D7'; /* x */
				font-style: normal;
				font-size: calc( 1.5 * var(--fu_size_half) );
			}
		}
	}

	.fu_notice {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		position: relative;
		background: var(--fu_bg);
		z-index: 1;
		overflow: auto;
		height: var(--fu_notice_height);
		max-height: calc( var(--dialog_height) - 4 * var(--fu_size) );

		&:before {
			content: ' ';
			position: absolute;
			display: block;
			z-index: -1;
			inset: 0;
			background-color: red;
			opacity: .1;
		}

		.fu_content {
			padding: var(--fu_size);
			padding-right: calc( 2 * var(--fu_size) );
		}

		&:after {
			content: '\00D7'; /* x */
			position: absolute;
			display: inline-block;
			z-index: 1;
			top: calc( .5 * var(--fu_size) );
			right: calc( .5 * var(--fu_size) );
			font-style: normal;
			font-size: var(--fu_size_half);
		}

		&:empty {
			display: none;
		}
	}

	.fu_section {
		position: relative;
		background: var(--fu_bg);
		height: calc( var(--dialog_height) - 4 * var(--fu_size) - var(--fu_notice_height, 0px) );
	}

	.fu_footer {
		position: relative;
		height: calc( 2 * var(--fu_size) );
		line-height: calc( 2 * var(--fu_size) );
		background: var(--fu_row_hover_bg);
		font-size: var(--fu_fontsize);
		text-align: right;
		overflow: auto;

		@media screen and (max-width: 850px) {
			padding: 0 var(--fu_size_half);
		}
		@media screen and (min-width: 851px) {
			padding: 0 var(--fu_size);
		}

		.fu_button {
			display: inline-block;
			line-height: var(--fu_size);
			cursor: pointer;
			border: none;
			color: var(--fu_primary);
			background-color: var(--fu_bg);
			margin: 0 0 0 var(--fu_size_half);
			padding: 0 var(--fu_size_half);

			&:hover {
				background-color: var(--fu_primary);
				color: var(--fu_bg);
			}
		}

		.fu_button_primary {
			background-color: var(--fu_primary);
			color: var(--fu_bg);
		}
	}
}
