fu-dialog_json .fu_section textarea {
	position: absolute;
	inset: 0;
	font-family: 'Courier New', Courier, monospace;
	padding: calc(var(--fu_size) / 2) var(--fu_size);
	resize: none;

	border: none;
	border-radius: 0;

	overflow: auto;
	tab-size: 2;
}