.fu_choices {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
	gap: var(--fu_size_xxs, 0.25em) calc(1.5 * var(--fu_size_md, 2em));
	align-items: start;

	.fu_label {
		display: block;
		font-weight: 500;
		line-height: var(--fu_size_md, 2em);
		font-size: var(--fu_fontsize);
		grid-column: 1 / -1;
	}

	label {
		cursor: pointer;
		display: flex;
		align-items: flex-start;
		gap: var(--fu_size_xs, 0.5em);

		input {
			margin: var(--fu_size_xs, 0.5em) 0 0 0;
			left: 2px;
		}

		div {
			color: var(--fu_text_color_light);
			font-weight: 500;
		}

		&:hover div,
		input:checked + div {
			color: var(--fu_text_color);
		}

	}

	.fu_description{
		padding: 0;
		line-height: var(--fu_size_md, 2em);
		font-size: var(--fu_fontsize);
		color: var(--fu_text_color_light);
		text-wrap: pretty;
		overflow-wrap: break-word;
		grid-column: 1 / -1;
	}
}