.fu_field {
	display: block;

	& > .fu_label {
		display: block;
		font-weight: 500;
		line-height: var(--fu_size_md, 2em);
		font-size: var(--fu_fontsize);

		&:is(label){
			cursor: pointer;
		}
	}
}

.fu_field_input {

	label {
		cursor: pointer;
	}

	.fu_input_wrapper {
		display: flex;
		align-items: flex-start;
		flex-grow: 1;
		line-height: var(--fu_size_md, 2em);
		gap: var(--fu_size_xs, 0.5em);

		input[type="checkbox"],
		input[type="radio"] {
			margin: var(--fu_size_xs, 0.5em) 0 0 0;

			&:not(:checked) + div {
				color: var(--fu_text_color_light);
			}
		}
	}

	.fu_before, .fu_after {
		display: flex;
		flex: 0 0 auto;
	}

	.fu_description{
		padding: var(--fu_size_xs, 0.5em) 0;
		line-height: var(--fu_size_md, 2em);
		font-size: var(--fu_fontsize);
		color: var(--fu_text_color_light);
		text-wrap: pretty;
		overflow-wrap: break-word;
	}

	.fu_input {
		display: block;
		flex: 1;
		width: var(--fu_size_md, 2em);
		min-height: var(--fu_size_md, 2em);
		padding: 0 var(--fu_size_sm, 1em);
		border: none;
		box-shadow: 0 0 0 1px var(--fu_border_color);
	}

	[readonly] {
		background: transparent
	}

	input[type="text"]::-webkit-calendar-picker-indicator{
		block-size: var(--fu_size_md, 2em) !important;
		line-height: var(--fu_size_md, 2em);
		height: var(--fu_size_md, 2em);
		width: var(--fu_size_md, 2em);
		position: relative;
		margin-right: calc( -1 * var(--fu_size_sm, 1em) );
		padding: 0;
		text-align: center;
		opacity: 1;
		box-shadow: 0 0 0 1px var(--fu_border_color);
	}

	input[type="number"] {
		padding-right: 0;
	}

	textarea.fu_input {
		field-sizing: content;
		padding: var(--fu_size_xs, 0.5em) var(--fu_size_sm, 1em);
		line-height: var(--fu_size_md, 2em);
	}

	.fu_color{
		display: inline-flex;
		box-shadow: 0 0 0 1px var(--fu_border_color);

		input[type="color"]{
            width: var(--fu_size_md, 2em);
            height: var(--fu_size_md, 2em);
            border: none;
            padding: 0;
            cursor: pointer;

			&::-webkit-color-swatch-wrapper,
			&::-webkit-color-swatch {
				padding: 0;
				border: none;
			}
		}
		input[type="text"]{
            width: var(--fu_size_xl, 8em);
            height: var(--fu_size_md, 2em);
            border: none;
            padding: 0 var(--fu_size_sm, 1em);
		}
	}
}

.fu_field_hidden{
	grid-column: span 2;
	display: none;
}
