.fu_field {
	display: block;

	.fu_label {
		display: block;
		font-weight: 500;
		line-height: var(--fu_size);
		font-size: var(--fu_fontsize_xs);

		&:is(label){
			cursor: pointer;
		}
	}
}

.fu_field_input {

	label {
		cursor: pointer;
	}

	.fu_input_wrapper {
		display: flex;
		align-items: flex-start;
		flex-grow: 1;
		line-height: var(--fu_size);
		gap: calc( .25 * var(--fu_size) );

		input[type="checkbox"],
		input[type="radio"] {
			min-width: var(--fu_size_half);
			height: var(--fu_size_half);
			margin: calc( .25 * var(--fu_size) ) 0 0 0;
		}
	}

	.fu_choices_wrapper .fu_grid{
		padding: 0;
		row-gap: calc( .25 * var(--fu_size) );

		.fu_input_wrapper{
			&:hover {
				position: relative;
				margin-left: calc( -1 * var(--fu_size_half) );
				padding-left: var(--fu_size_half);
				background-color: var(--fu_primary);
				color: var(--fu_bg);
			}
			input:checked + div {
				text-decoration: underline;
			}
		}
	}

	.fu_before, .fu_after {
		display: flex;
		flex: 0 0 auto;
	}

	.fu_description{
		padding: calc( .5 * var(--fu_size_half) ) 0;
		line-height: calc( .75 * var(--fu_size) );
		font-size: var(--fu_fontsize_xs);
		color: var(--fu_text_color_light);
		text-wrap: pretty;
		overflow-wrap: break-word;
	}

	.fu_input {
		display: block;
		flex: 1;
		width: var(--fu_size);
		font-size: var(--fu_fontsize);
		line-height: var(--fu_size);
		min-height: var(--fu_size);
		padding: 0 var(--fu_size_half);
		border: none;
		box-shadow: 0 0 0 1px var(--fu_border_color);
	}

	.fu_checkbox {
		display: inline-block;
		line-height: var(--fu_size);
		cursor: pointer;
	}

	[readonly] {
		background: var(--fu_body_bg);
	}

	input[type="text"]::-webkit-calendar-picker-indicator{
		block-size: var(--fu_size) !important;
		line-height: var(--fu_size);
		height: var(--fu_size);
		width: var(--fu_size);
		position: relative;
		margin-right: calc( -1 * var(--fu_size_half) );
		padding: 0;
		text-align: center;
		opacity: 1;
		box-shadow: 0 0 0 1px var(--fu_border_color);
	}

	input[type="number"] {
		padding-right: 0;
	}

	textarea.fu_input {
		field-sizing: content;
		padding: calc( 0.5 * var(--fu_size_half) ) var(--fu_size_half);
		line-height: calc( 0.75 * var(--fu_size) );
	}

	.fu_color{
		display: inline-flex;
		box-shadow: 0 0 0 1px var(--fu_border_color);

		input[type="color"]{
            width: var(--fu_size);
            height: var(--fu_size);;
            border: none;
            padding: 0;
            cursor: pointer;

			&::-webkit-color-swatch-wrapper,
			&::-webkit-color-swatch {
				padding: 0;
				border: none;
			}
		}
		input[type="text"]{
            width: calc( 3 * var(--fu_size) );
            height: var(--fu_size);;
            border: none;
            padding: 0 var(--fu_size_half);
		}
	}
}

.fu_field_hidden{
	grid-column: span 2;
	display: none;
}

