.fieldsux > textarea {
	/* display: block; */
	display: none;
	max-width: 100%;
	field-sizing: content;
	padding: var( --fu_size, 2rem );
}

fu-main {
	&, :after, :before {
		box-sizing: border-box;
	}

	/* Sizes */
	--fu_size: 32px;
	--fu_size_half: calc(0.5 * var(--fu_size));
	/* --fu_fontsize: calc(0.35 * var(--fu_size)); */
	--fu_fontsize: 15px;
	--fu_fontsize_xs: 14px;
	--fu_label_width: calc( 4 * var(--fu_size) );;

	/* Colors */

	--zink_950: #09090B;
	--zink_700: #3F3F46;
	--zink_500: #71717A;
	--zink_400: #A1A1AA;
	--zink_300: #d4d4d8;
	--zink_200: #E4E4E7;
	--zink_150: #ECECEE;
	--zink_100: #F4F4F5;
	--zink_50:  #FAFAFA;

	/* Defined */
	--fu_primary: var(--zink_950);
	--fu_bg: #fff;
	--fu_row_hover_bg: var(--zink_200);

	/* Borders */
	--fu_border_color: var(--zink_300);

	/* Text Colors */
	--fu_text_color: var(--zink_700);
	--fu_text_color_light: var(--zink_500);

	.fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch,
	.fu_switch .fu_switch .fu_switch .fu_switch .fu_switch,
	.fu_switch .fu_switch .fu_switch,
	.fu_switch {
		--fu_body_bg: var(--zink_150);
	}

	.fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch,
	.fu_switch .fu_switch .fu_switch .fu_switch .fu_switch .fu_switch,
	.fu_switch .fu_switch .fu_switch .fu_switch,
	.fu_switch .fu_switch,
	& {
		--fu_body_bg: var(--zink_50);
	}

	/* .fu_switch {
		--fu_body_bg: var(--zink_50);
		.fu_switch {
			--fu_body_bg: var(--zink_100);
			.fu_switch {
				--fu_body_bg: var(--zink_50);
				.fu_switch {
					--fu_body_bg: var(--zink_100);
					.fu_switch {
						--fu_body_bg: var(--zink_50);
						.fu_switch {
							--fu_body_bg: var(--zink_100);
						}
					}
				}
			}
		}
	} */

	/* Dialogs and Menus Backdrop */
	--fu_backdrop_bg: #77777777;
}