.fieldsux {
	/* Colors */

	--zink_950: #09090B;
	--zink_700: #3F3F46;
	--zink_500: #71717A;
	--zink_400: #A1A1AA;
	--zink_300: #d4d4d8;
	--zink_200: #E4E4E7;
	--zink_150: #ECECEE;
	--zink_100: #F4F4F5;
	--zink_50:  #FAFAFA;


	/* Sizes */
	--fu_size: 32px;
	--fu_size_xxs: calc( 0.125 * var(--fu_size) ); /*   4px */
	--fu_size_xs:  calc( 0.25  * var(--fu_size) ); /*   8px */
	--fu_size_sm:  calc( 0.5   * var(--fu_size) ); /*  16px */
	--fu_size_md:                var(--fu_size)  ; /*  32px */
	--fu_size_lg:  calc( 2     * var(--fu_size) ); /*  64px */
	--fu_size_xl:  calc( 4     * var(--fu_size) ); /* 128px */

	--fu_fontsize: calc( .875 * var(--fu_size_sm) );
	--fu_label_width: var(--fu_size_xl);
	--fu_border_radius: var(--fu_size_xs);


	/* Defined */
	--fu_primary: var(--zink_950);
	--fu_bg: var( --zink_50 );
	--fu_input_bg: #fff;
	--fu_header_primary_bg: var(--zink_100);
	--fu_header_secondary_bg: var(--zink_50);

	/* Borders */
	--fu_border_color: var(--zink_300);
	--fu_border_color_focus: var( --zink_400 );

	/* Text Colors */
	--fu_text_color: var(--zink_950);
	--fu_text_color_light: var(--zink_500);

	/* Dialogs and Menus Backdrop */
	--fu_backdrop_bg: #77777777;


	/* fieldsux css */

	line-height: var(--fu_size_md, 2em);
	background-color: var(--fu_bg);
	color: var( --fu_text_color );

	&, *, :after, :before {
		box-sizing: border-box;
	}
}