.wp-admin {
	fu-main input[type=checkbox]:indeterminate::before {
		content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M4%208h12v4H4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
	}

	.wp_options{
		fu-main{
			--fu_primary: #2271b1;

			@media screen and (max-width: 600px) {
				margin: -56px -12px 0 -10px;
			}
			@media screen and (min-width: 601px) and (max-width: 782px) {
				margin: -10px -12px 0 -10px;
			}

			@media screen and (min-width: 783px) {
				margin: -10px -20px 0 -22px;
			}
		}

		.fu_submit_bar{
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 999;

			p{
				margin: 0;
				padding: var(--fu_size_half) var(--fu_size);
				text-align: right;
				background-color: var(--fu_bg);
			}
		}
	}
}

@media screen and (max-width: 782px) {
	.wp_options .fu_submit_bar{
		left: 0;
	}
	#wpwrap.wp-responsive-open .fu_submit_bar{
		left: 190px
	}
}


@media screen and (min-width: 783px) {
	.wp_options .fu_submit_bar{
		left: 160px
	}

	.folded .wp_options .fu_submit_bar {
		left: 36px;
	}
}


